*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

@font-face {
    font-family: NeueHaasUnica;
    src: url(./font/NeueHaasUnica-Regular.ttf);
}
body{
    background-image: url("./assets/BG.avif");
    background-repeat: no-repeat;
    background-size: 100%;
}
#compass{
    display: block;
    left:0;
    top: 0;
    transform: translate(120%,65%);
    position: absolute
}
#logo{
    width: 2.5%;
    height: auto;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
#coordinates{
    position: absolute;
    right: 0;
    top:0;
    transform: translate(-40%,400%);
}
.container{
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(14px);
    border-radius: 9px;
    width: 30%;
    padding: 2rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#logo2{
    width: 30%;
    height: auto;
    margin-bottom: 2rem;
}
h1{
    font-family: 'Source Code Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}
#content{
    font-family: NeueHaasUnica;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 2rem;
}
span{
    font-weight: bold;
    letter-spacing: -2%;
    text-transform: uppercase;
}
p{
    text-align: center;
}
#id{
    padding-right: 1rem;
}
#phone{
    margin: 1rem 0 ;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    width: 100%;
}
#sumbit{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
}
.change{
    margin-top: 1rem;
}
.change button{
    background-color: white;
    border-radius: 20px;
    border: 2px solid lightgray;
    padding: 0.7rem 1.5rem;
    transform: translatey(-0.35em);
    margin: 0 0.5rem;
    position: relative;
}
.change button::before{
    position:absolute;
    content:'';
    background-color: black;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(10%,7%);
    pointer-events: all;

}
a{
    color: white;
    text-decoration: none;
}
.circle{
    background-color: black;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(10%,7%)
}
.footer{
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;  
}
.footer-mobile{
    visibility: hidden;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0; 
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
   body{
    height: 100vh;
    background-size: cover;
   }
   .container{
    width: 50%;
    margin-top: 6rem;
   }
   #logo{
    width: 5%;
   }
  }
@media only screen and (max-width: 768px) {
    #logo{
        width:15%;
    }
    #logo2{
        width: 50%;
    }
    .container{
        width: 80%;
    }
    h1{
        font-size: 2.125rem;
    }
    .footer{
        visibility: hidden;
    }
    .footer-mobile{
        visibility: visible;
    }
    body{
        background-position: 55% 25%;
        background-size: auto;
        font-size: 0.813rem;
    }
    #compass{
        visibility: hidden;
    }
    #coordinates{
        visibility: hidden;
    }
    button a {
        letter-spacing: 0.1em;
    }
  }